# **Business Problem -Predict the price of Bengaluru House**

**Using Linear Regression -Supervised Machine Learning Algor
ithm **

# Load Libraries

In [175]:
import pandas as pd

# Load Data

In [176]:
path ="/content/drive/MyDrive/Bangalore house prediction data /Bengaluru_House_Data .csv"

df =pd.read_csv(path)

df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [177]:
df2 =df[["price","balcony","bath"]]

df2.head()

    price  balcony  bath
0   39.07      1.0   2.0
1  120.00      3.0   5.0
2   62.00      3.0   2.0
3   95.00      1.0   3.0
4   51.00      1.0   2.0

In [178]:
df3 =df2.fillna(df2.mean())
df3.head()

    price  balcony  bath
0   39.07      1.0   2.0
1  120.00      3.0   5.0
2   62.00      3.0   2.0
3   95.00      1.0   3.0
4   51.00      1.0   2.0

#  Split Data

In [179]:
X= df3.drop('price',axis=1)
y=df2['price']
print('shape of X =',X.shape)
print('shape of y =',y.shape)

shape of X = (13320, 2)
shape of y = (13320,)

## Train and test split

In [180]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=51)

print('shape of X_train =',X_train.shape)
print('shape of y_train =',y_train.shape)
print('shape of X_test =',X_test.shape)
print('shape of y_test =',y_test.shape)

shape of X_train = (10656, 2)
shape of y_train = (10656,)
shape of X_test = (2664, 2)
shape of y_test = (2664,)

# Feature scaling

In [181]:
from sklearn.preprocessing import StandardScaler

In [182]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [183]:
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

# Linear Regression -ML Model Training

In [184]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [185]:
lr.fit(X_train,y_train)

LinearRegression()

In [186]:
lr.coef_

array([ 4.10009491, 65.76278937])

In [187]:
lr.intercept_

112.52539085960962

# Predict the value of Home and Test

In [188]:
X_test[0,:]

array([-0.72855992, -1.26503911])

In [189]:
lr.predict([X_test[0,:]])

array([26.34572542])

In [190]:
lr.predict(X_test)

array([ 26.34572542, 129.85442053, 129.85442053, ...,  85.79248341,
        75.53593617,  75.53593617])

In [191]:
y_test

11791     35.00
3415     131.00
11516    200.00
3147      80.91
3057     200.00
          ...
12782    137.00
4014      49.00
12879     53.00
10771     34.65
10784     39.77
Name: price, Length: 2664, dtype: float64

In [194]:
lr.score(X_test,y_test)

0.2242861308302443